/* Add this CSS to your stylesheets or use a CSS-in-JS solution like styled-components */

.centered-container {
  position: relative;

  background-color: #333; /* Change to your preferred background color */
  color: #fff; /* Change to your preferred text color */
}


.centered-content {
  text-align: center;
}

.centered-title {
  font-size: 24px;
  margin-bottom: 20px;
}

.centered-unity {
  width: 800px;
  height: 600px;
  border: 2px solid #d70b0b; /* Add a border to the Unity component */
  border-radius: 10px; /* Add border radius for a cooler look */
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5); /* Add a subtle shadow */
}

.navbar {
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  height: 80px;
  padding: 10px 0;
  background-color: rgba(255, 255, 255, 0.7); /* white color with 70% opacity */
}

.navbar-brand {
  font-size: 28px;
  font-weight: bold;
  color: #333;
}

.navbar-toggler {
  border: none;
  background-color: transparent;
}

.navbar-toggler-icon {
  background-image: url('https://cdn-icons-png.flaticon.com/512/565/565504.png');
  background-size: cover;
  width: 25px;
  height: 25px;
}

.navbar-nav .nav-link {
  color: #333;
  font-size: 18px;
  margin-right: 30px;
}

.navbar-nav .nav-link:hover {
  color: #333;
  text-decoration: none;
}

@media (max-width: 991px) {
  .navbar-brand {
    font-size: 24px;
  }

  .navbar-nav .nav-link {
    font-size: 16px;
  }
}
.navbar-brand img {
  width: 50px;
  height: auto;
  margin-right: 1rem;
}